@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  /* Custom Colors */
  --color-coral: #ff6b6b;
  --color-coraldark: #ff2e2e;
  --color-electric: #0066ff;
  --color-fanta: #ffc81b;
  --color-fanta-dark: #e0af24;

  /* Background/Foreground */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Font Families */
  --font-family-sans: var(--font-inter), system-ui, sans-serif;
  --font-family-heading: var(--font-montserrat), system-ui, sans-serif;
  --font-family-geist-sans: var(--font-geist-sans);
  --font-family-geist-mono: var(--font-geist-mono);
}
